/*
  If you get stuck, feel free to watch the follow-up videos where I'll show you one solution
*/

/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.name a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.banner {
	color: #fff;
	background: #3acec2;
	margin-bottom: 2em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
	text-align: center;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

/* ---- Conteiner ---- */
	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 85%;
		max-width: 1150px;
    margin: 0 auto;
  }

	/* ---- Navigation ---- */
	.name {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		float: left;
	}

	/* Banner */
	.banner {
		text-align: center;
		padding: 2em;
	}

	/* Collums */

  .col {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .primary {
    width: 40%;
  }

  .secondary {
    width: 30%;
	}
	
	.tertiary {
		width: 30%;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}